<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вы забанены</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Вы забанены!</h1>
    <p class="lead">Это могло произойти из-за спама в чате с вашего IP адреса или из-за перебора сервисного пароля.</p>
    <p class="lead">Бан не вечный, попробуйте позже и ведите себя хорошо!</p>
  </div>
</div>
</body>
</html>